version: '3.8'

services:
  backend:
    image: 270163127745.dkr.ecr.us-east-1.amazonaws.com/chatapp-backend:latest
    ports:
      - "3000:3000"
    environment:
      - PORT=3000
    restart: always

  frontend:
    image: 270163127745.dkr.ecr.us-east-1.amazonaws.com/chatapp-frontend:latest
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always
